<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chzu.mapper.TpcontextMapper">
    <select id="tpcontextfindbycid" parameterType="int" resultType="Tpcontext">
        SELECT * FROM tpcontext WHERE cid=#{cid}
    </select>
    <insert id="tpcontextAdd" parameterType="Tpcontext">
          INSERT INTO tpcontext(cid,zdata,jk,zxs,syk,xtk,cjian) VALUES (#{cid},#{zdata},#{jk},#{zxs},#{syk},#{xtk},#{cjian})
    </insert>
    <delete id="tpcontextDelete" parameterType="int">
        DELETE FROM tpcontext WHERE id=#{id}
    </delete>
</mapper>